.mat-elevation-z8 {
    overflow: auto;
    height: 600px;
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.alert-box {
    margin-top: 2rem;
}

.green {
    color: green;
}