table {
    width: 100%;
}

.overflow {
    overflow: auto;
}

.pause {
    margin-left: 1rem;
    color: #ffa700;
}

.start {
    background-color: green;
    color: white;
    margin-left: 1rem;
}

.terminate {
    margin-left: 1rem;
    background-color: red;
    color: white;
}
