  
  .example-full-width {
    width: 100%;
  }

  .gray {
      color: gray;
  }

  .form-fields{
      min-width: 400px;
  }
  .card-header {
      border-bottom: 1.5px solid #dedbdb;
  }

  .delete {
    color: red;
  }

  .profile-pic {
    margin: 5px;
  }
   
  .margin {
    margin: 5px;
  }

  .padding {
    padding-top: 15px;
  }

  .select-branch:hover {
    cursor: pointer;
  }