.heading {
    border-bottom: 1px solid black;
    color: black;
    font-size: 14px;
    font-weight: 700;
    .sub-heading {
        color: black;
        font-size: 14px;
        font-weight: 500;
    }
}

.sub-field-heading {
    color: black;
    font-weight: 700;
}
.sub-field-heading-value {
    color: gray;
    font-weight: 600;
}

.red {
    color: red;
}