.example-container {
    height: 400px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }
  .align-center{
      display: flex;
      justify-content: center;
  }
  .red {
      color: red;
  }
  .green {
      color: green;
  }