table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.back-button {
  position: absolute;
  right: 0;
  margin-right: 1.5rem;
}

.branch-name {
  text-align: end;
  padding-right: 0px;
  padding-top: 0.2rem;
}

.select-branch:hover {
  cursor: pointer;
}